section {
    width: 300px;
    padding: 20px;
    margin: 60px auto;
    border: 1px solid #cccccc;
}
section input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
}
section button {
    display: block;
    width: 100%;
}