


<select (change)="myFunction($event.target.value)">
    <option *ngFor="let item of items" value="{{item.name | lowercase | removewhitespace}}">
        {{item.name}}
    </option>
</select>


<p>Location: {{location}}</p>
<p>Diseases:</p>
<ul>
    <li *ngFor="let disease of diseases">
        {{disease.name}} : {{disease.count}}
    </li>
</ul>

<p>Payment:</p>
<ul>
    <li *ngFor="let pay of payment">
        {{pay.type}} : {{pay.count}}
    </li>
</ul>

<p>Policy Details:</p>
<ul>
    <li *ngFor="let policy of policyDetails">
        {{policy.name}} : {{policy.count}}
    </li>
</ul>

<p>Staff:</p>
<ul>
    <li *ngFor="let staf of staff">
        Female:{{staf.female}}, Male:{{staf.male}}
    </li>
</ul>

<p>Total Patients:</p>
<ul>
    <li *ngFor="let tp of totalPatients">
        Month: {{tp.month}},
        Count: {{tp.count}},
        Discharged: {{tp.discharge}},
        Hospitalized: {{tp.hospitalized}},
        OPD: {{tp.opd}}
    </li>
</ul>




